.header{
  background-color: green;
}

.info{
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}

h2 {
  background-color: #66c2ff;
  color: #ff0000;
}

h3 {
  background-color: #38f024;
  color: #1438c9;
}

img {
  border: 2px dashed blue;
  border-radius: 2px;
  width: 400px;
  padding: 10px;
}
